# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Rhyme*

# Build related
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
build
debug

# macos
.DS_Store
._.DS_Store

# Iliev tests
astronomy.sussex.ac.uk
images

# Jupyter
.ipynb_checkpoints/

# Rhyme output
output*
*.err.txt
*.log.txt
*.log
fort.999

# VisIt
visitlog.py

# Tests
tests/**/*.h5
