[submodule "src/rhyme_nombre"]
	path = src/rhyme_nombre
	url = git@gitlab.com:rhyme-org/rhyme_nombre.git
[submodule "src/rhyme_samr"]
	path = src/rhyme_samr
	url = git@gitlab.com:rhyme-org/rhyme_samr.git
[submodule "src/rhyme_samr_boundary_condition"]
	path = src/rhyme_samr_boundary_condition
	url = git@gitlab.com:rhyme-org/rhyme_samr_boundary_condition.git
[submodule "src/rhyme_chemistry"]
	path = src/rhyme_chemistry
	url = git@gitlab.com:rhyme-org/rhyme_chemistry.git
[submodule "src/rhyme_ideal_gas"]
	path = src/rhyme_ideal_gas
	url = git@gitlab.com:rhyme-org/rhyme_ideal_gas.git
[submodule "src/rhyme_iterative_riemann_solver"]
	path = src/rhyme_iterative_riemann_solver
	url = git@gitlab.com:rhyme-org/rhyme_iterative_riemann_solver.git
