# **Logging**
unicode_plotting = enable


# **Initial Condition**
ic_type = simple

ic_grid = 128 128 128
ic_box_lengths = 1d0 1d0 1d0 "kpc"
ic_nlevels = 3
ic_redshift = 1.23d0


# **Runtime Options**
max_nboxes = 1 10 100


# **Internal Units**
density_unit = "kg / m^3"
length_unit = "m"
time_unit = "s"


# **Boundary Condition**
left_bc = reflective
right_bc = outflow
bottom_bc = periodic
top_bc = reflective
back_bc = outflow
front_bc = periodic


# **Thermodynamics**
ideal_gas_type = diatomic


# **CFL**
courant_number = 2d-1


# **Exact Riemann Solver**
vacuum_pressure = 1.23d0
vacuum_density = 2.34d0
tolerance = 1d-6
n_iteration = 100


# **Slope Limiter**
slope_limiter = van_leer
slope_limiter_omega = 0d0


# **MUSCL-Hancock solver**
solver_type = cpu_intensive


# **Chemistry**
elements = H He
element_abundances = .75d0 .25d0  # Composition


# **Ionization Equilibrium**
uvb_equilibrium = enable
uvb_model = HM12
uvb_self_shielding = enable

collisional_ionization_equilibrium = enable

photoionization_equilibrium = disable

ie_convergence_rate = 1e-2
ie_max_niterations = 1000

species_cases = case_a case_b case_a  # HII HeII HeIII

equilibrium_table_size = 1024 1024
equilibrium_table_temp_range = 1d2 1d7 'K'
equilibrium_table_density_range =  1d-3 1d6 'm_H / cm^3'


# **Drawing**
canvas = uniform .125d0 0d0 0d0 0d0 .1d0 1e4 1d-2 2d-3 3d-4

shape = cuboid 1 1 1 56 128 1
shape_filling = uniform 1d0 0d0 0d0 0d0 1d0 1d4 1d-2 1d-3 1d-4

shape = sphere 3d0 4d0 5d0 2.34d0 2.34d-1 'unit'
shape_filling = uniform absolute 1d0 0d0 0d0 0d0 1d0 1d4 1d-2 1d-3 1d-4 2d0 3d0 3d0 3d0 4d0 1d5 1d-3 1d-4 1d-5

shape = prism 56 1 1 56 128 1 72 1 1 1
shape_filling = uniform 1d0 0d0 0d0 0d0 1d0 1d4 1d-2 1d-3 1d-4

shape = smoothed_slab_2d x 56 72 .2 .4
shape_filling = .125d0 0d0 0d0 0d0 .1d0 1d4 1d-2 1d-3 1d-4 1d0 0d0 0d0 0d0 1d0 1d4 1d-2 1d-3 1d-4

perturb = harmonic cartesian x 0.05 32 0d0 0d0 0d0 0d0 1d0
perturb = symmetric_decaying cartesian y 1d0 56 2 0d0 0d0 0d0 0d0 1d0
perturb = symmetric_decaying cartesian y 1d0 72 8 0d0 0d0 0d0 0d0 1d0


# **Chombo Output**
prefix = './prefix'
nickname = 'hydro-simulation'
