# Structured AMR
base_grid = 128 128 1
nlevels = 3
max_nboxes = 1 10 100

# Boundary Conditions
left_bc = reflective
right_bc = outflow
bottom_bc = periodic
top_bc = reflective
back_bc = outflow
front_bc = periodic

# Ideal Gas
ideal_gas_type = monatomic

# Iterative Riemann Solver
pressure_floor = 1.d-10
tolerance = 1.d-6
n_iteration = 100

# Slope Limiter
limiter = van_leer
limiter_omega = 1.23d0

# CFL
courant_number = .81d0

# Initial Condition
background = .125d0 0.d0 0.d0 0.d0 .1d0
shape = rect 1 1 1 64 128 1
shape_trans = linear 0.d0
shape_fill = uniform 1.d0 0.d0 0.d0 0.d0 1.d0
shape = circle 3.d0 4.d0 5.d0 2.34d0
shape_trans = cubic 3.d0
shape_fill = grad_y 1.d0 0.d0 0.d0 0.d0 1.d0 2.d0 3.d0 4.d0 5.d0 6.d0

# Chombo
prefix = './prefix'
nickname = 'hydro-simulation'

# Sources
source_coordinate = 0.12d0 0.34d0 0.56d0
opening_angle = 4 pi
spectral_region = power_law 1.d0 2.d0 6.78d9 10 -1.7
spectral_region = linear 2.d0 3.d0 5.67d8 15
spectral_region = line 3.d0 3.01d0 4.56d7d8
