# **Initial Condition**
ic_type = simple

ic_grid = 128 128
ic_box_lengths = 1 1 "kpc"
ic_nlevels = 3


# **Runtime Options**
max_nboxes = 1 10 100


# **Internal Units**
density_unit = "kg / m^3"
length_unit = "m"
time_unit = "s"


# **Boundary Condition**
left_bc = reflective
right_bc = outflow
bottom_bc = periodic
top_bc = reflective


# **Thermodynamics**
ideal_gas_type = diatomic


# **CFL**
courant_number = .2d0


# **Exact Riemann Solver**
vacuum_pressure = 2.2250738585072014E-308
vacuum_density = 2.2250738585072014E-308
tolerance = 1d-6
n_iteration = 100


# **Slope Limiter**
slope_limiter = van_leer
slope_limiter_omega = 0d0


# **MUSCL-Hancock solver**
solver_type = cpu_intensive


# **Drawing**
canvas = uniform .125d0 0d0 0d0 .1d0 1e4 1d-2 2d-3 3d-4

shape = cuboid 1 1 56 128
shape_filling = uniform 1d0 0d0 0d0 1d0

shape = sphere 3d0 4d0 2.34d0 2.34d-1 'unit'
shape_filling = uniform absolute 1d0 0d0 0d0 1d0 2d0 3d0 3d0 4d0

shape = prism 56 1 56 128 72 1
shape_filling = uniform 1d0 0d0 0d0 1d0

shape = smoothed_slab_2d x 56 72 .2 .4
shape_filling = .125d0 0d0 0d0 .1d0 1d0 0d0 0d0 1d0

perturb = harmonic cartesian x 0.05 32 0d0 0d0 0d0 1d0
perturb = symmetric_decaying cartesian y 1d0 56 2 0d0 0d0 0d0 1d0
perturb = symmetric_decaying cartesian y 1d0 72 8 0d0 0d0 0d0 1d0


# **Chombo Output**
prefix = './prefix'
nickname = 'hydro-simulation'
