# **Initial Condition**
ic_type = simple

ic_grid = 128 128 128
ic_box_lengths = 1d0 1d0 1d0 "kpc"
ic_nlevels = 3


# **Runtime Options**
max_nboxes = 1 10 100


# **Internal Units**
density_unit = "kg / m^3"
length_unit = "m"
time_unit = "s"


# **Boundary Condition**
left_bc = reflective
right_bc = outflow
bottom_bc = periodic
top_bc = reflective
back_bc = outflow
front_bc = periodic


# **Thermodynamics**
ideal_gas_type = diatomic


# **CFL**
courant_number = 2d-1


# **Exact Riemann Solver**
pressure_floor = 1.d-10
tolerance = 1.d-6
n_iteration = 100


# **Slope Limiter**
slope_limiter = van_leer
slope_limiter_omega = 0.d0


# **MUSCL-Hancock solver**
solver_type = cpu_intensive


# **Drawing**
canvas = uniform .125d0 0.d0 0.d0 0.d0 .1d0

shape = cuboid 1 1 1 56 128 1
shape_filling = uniform 1.d0 0.d0 0.d0 0.d0 1.d0

shape = sphere 3.d0 4.d0 5.d0 2.34d0
shape_filling = uniform 1.d0 0.d0 0.d0 0.d0 1.d0

shape = prism 56 1 1 56 128 1 72 1 1 1
shape_filling = uniform 1.d0 0.d0 0.d0 0.d0 1.d0

shape = smoothed_slab_2d x 56 72 .2 .4
shape_filling = .125d0 0.d0 0.d0 0.d0 .1d0 1.d0 0.d0 0.d0 0.d0 1.d0

perturb = harmonic cartesian x 0.05 32 0.d0 0.d0 0.d0 0.d0 1.d0
perturb = symmetric_decaying cartesian y 1.d0 56 2 0.d0 0.d0 0.d0 0.d0 1.d0
perturb = symmetric_decaying cartesian y 1.d0 72 8 0.d0 0.d0 0.d0 0.d0 1.d0


# **Chombo Output**
prefix = './prefix'
nickname = 'hydro-simulation'
